
<div class="container">
    <div class="texto">
        <h2>Como participar das Ligas</h2>
        <p> Para se juntar às competições, basta acessar nosso <a href="https://discord.gg/6f6VpG2RzQ" target="_blank">servidor no Discord</a>, onde você encontrará todas as informações necessárias, incluindo datas, horários e jogos específicos de cada liga. Certifique-se de estar presente durante as partidas programadas. Divirta-se e boa sorte!</p>
    </div>
    <div class="imagem">
        <img src="../../../assets/img/ekko.png" alt="">
    </div>
</div>
