<div class="loginPage">
    <div class="planos">

    </div>
    <div class="formContainer">
        <h1>Entre ou registre-se</h1>
        <form action="#" method="post" id="loginForm">
            <input type="text" id="login" class="loginInput" placeholder=" Login" />
            <br>
            <input type="password" id="password" class="loginInput" placeholder=" Senha" />
            <br>
            <button type="submit" id="loginButton">Logar</button>
        </form>
        <div class="registerBox">
            <a href="#">Registrar</a>
            <a href="#">Recuperar conta</a>
        </div>
    </div>
    
</div>