.loginPage{
    display: flex;
    height: 100vh;
    background-color: gray;
}
.left-login{
    width: 50%;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

h2 {
    text-align: center;
  }
  
.formContainer{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}



 
 
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

