<div class="loginPage">
    <div class="planos">

    </div>
    <div class="formContainer">
        <h1>Entre ou registre-se</h1>
        <form action="#" (ngSubmit)="onSubmit()" method="post" id="loginForm">
            <input type="email" name="email" id="email" class="loginInput" placeholder=" E-mail" [(ngModel)]="loginModel.email" required />
            <br>
            <input type="password" name = "password" id="senha" class="loginInput" placeholder=" Senha" [(ngModel)]="loginModel.password" required />
            <br> 
            <p  id="mensagem">{{ mensagem }}</p>
            <button onclick="console.log('cu')" type="submit" id="loginButton">Logar</button>
        </form>
        
        <div class="registerBox">
           
            <a href="#">Registrar</a>
            <a href="#">Recuperar conta</a>
        </div>
    </div>
    
</div>