
<div class="games">
    <div class="gameBox"><img class="logoGameBar" src="../../../../assets/img/lol.png" alt="logo league of legends" ></div>
    <div class="gameBox"><img class="logoGameBar" src="../../../../assets/img/cs.png" alt="logo counter strike"></div>
    <div class="gameBox"><img class="logoGameBar" src="../../../../assets/img/fifa.png" alt="logo fifa"></div>
    <div class="gameBox"><img class="logoGameBar" src="../../../../assets/img/vava.png" alt="logo valorant"></div>
    <div class="gameBox"><img class="logoGameBar" src="../../../../assets/img/f1.png" alt="logo formula 1"></div>
</div>