.games{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    height: 125px;
    align-items:center;
    padding-right: 5%;
}
.gameBox{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 222px;
    margin-left: 5%;
    height: 66px;
    background: #10130F;
    border-radius: 10px;
    align-items: center;
    border: 1px solid black;
    
}
.gameBox:hover{
    transition: .3s;
    background: #333333;
    border: solid 1px;
    border-color: #343631;
}


.logoGameBar{
    width: 70%;
    cursor: pointer;
}