.container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
a{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.links{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center;

}
.logo{
    display: flex;
    align-items: center;
}
.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes img{
    margin-right: 15px;
    width: 64px;
    height: 64px;
}