<div class="banner">
    <div class="bannerImgContainner">
        <div id="bannerImg" class="bannerImg">
        
        </div>
    </div>
    <div class="bannerText">
        <h1>Liga e-players</h1>
        <p>O maior portal de campeonatos online</p>
        <br>
        <button id="inscrevaseButton" routerLink="/login">INSCREVA-SE</button>
    </div>
    <div  class="bannerNav">
        <div id="bannerLeftArrow" class="bannerNavArrow" >
            <img src="../../../../assets/img/chevron-left.svg" alt="">
        </div>
        <div class="bannerNavOption">
            <input type="radio" id="radioBanner0" name="banner0" value="valorant"   >
            <input type="radio" id="radioBanner1" name="banner1" value="cs"  >
            <input type="radio" id="radioBanner2" name="banner2" value="lol" >
            <!--TODO: trocar por imagens... um dia-->
        </div>
        <div id="bannerRightArrow" class="bannerNavArrow">
            <img src="../../../../assets/img/chevron-right.svg" alt="">
        </div>
    </div>
</div> 