*{
    text-decoration: none;
}
.noticiaBox{
    background-color: black;
    display: flex;
    height: 250px;
}
.texto{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}
.imagem{
    height: 100%;

}
.titulo{    
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
}
img {
    height: 100%;
    width: auto;
}
.descricao{
    margin-left: 20px;
    font-size: large;
}
.data{
    text-align: right;
    margin-top: 20px;
    margin-right: 50px;
}