<a
    href="https://radiojornal.ne10.uol.com.br/noticia/tecnologia/2023/01/15159521-league-of-legends-fora-do-ar-confira-servidor-do-lol-br-e-como-se-conectar-a-fila-de-login.html" target="_blank">
    <div class="noticiaBox">
        <div class="imagem">
            <img src="../../../assets/img/xboxNoticia.jpg" alt="">
        </div>
        <div class="texto">
            <h1 class="titulo">{{titulo}}</h1>
            <p class="descricao">Riote Gomes nao tankou a função de balancear o jogo de fadinha da empresa e todos os jogadores latiram do famigerado liga das legendas</p>
            <p class="data">11/02/2023</p>
        </div>
    </div>
</a>