<a href="https://radiojornal.ne10.uol.com.br/noticia/tecnologia/2023/01/15159521-league-of-legends-fora-do-ar-confira-servidor-do-lol-br-e-como-se-conectar-a-fila-de-login.html" target="_blank">
    <div class="noticiaBox">
        <div class="imagem">
            <img src="../../../assets/img/xboxNoticia.jpg" alt="">
        </div>
        <div class="texto">
            <h1 class="titulo">Jogadores de Liga das Legendas Latem e kitam</h1>
            <p class="descricao">A empresa Riote Gomes falhou em assumir efetivamente a responsabilidade de balancear o jogo de fadinha da empresa, levando a uma reação intensa dos jogadores. Todos os jogadores expressaram sua insatisfação e descontentamento, latiram e kitaram do famigerado Liga das Legendas. O notório desequilíbrio do jogo resultou em críticas veementes dos jogadores, que demonstraram seu descontentamento com a experiência de jogo prejudicada. A Riote Gomes enfrentou grandes desafios para fornecer uma experiência satisfatória aos jogadores, resultando em uma percepção negativa generalizada tanto em relação ao jogo de fadinha quanto à empresa em si.</p>
            <p class="data">11/02/2023</p>
        </div>
    </div>
</a>





<div *ngFor="let noticias of listaNoticias" class="cardnews">
    <a href="{{noticias.link}}">
        <div class="noticiaBox">
            <div class="imagem">
                <img src="../../../assets/img/{{noticias.imagem}}" alt="">
            </div>
            <div class="texto">
                <div class="texto">
                    <h3>{{noticias.titulo}}</h3>
                    <p>{{noticias.descricao}}</p>
                </div>


            </div>

        </div>
    </a>
</div>