
.header{
    background-color: black;
    height: 88px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;

}

.headerButton{
    align-items: center;
    width: 141px;
    height: 47px;
    background: #262924;
    font-size: 16;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 5px;;
    cursor: pointer;
    color: white;
    transition-duration: .3s;
}

.headerButton:hover {
    background: #4d4e4d;
    border: solid 1px;
    border-color: #343631;
    transition-duration: .3s;
}

.buttonContainer{
    display: flex;
    width: 600px;
    margin-right:5%;
    justify-content: space-between;
}
.logo{
    width: 190px;
    cursor: pointer;
}
.logoContainer{
    display: flex;
    justify-content: left;
    padding: auto;
    margin-left: 20px;
}
#hamburguer{
    width: 30px;
    height: 30px;
    background-color: black;
    border: none;
}@media screen and (min-width: 1020px){
    #hamburgueria{
        display: none;
        position: absolute;
    }
    .buttonContainer{
        position: relative;
    
      
    }
}
@media screen and (max-width: 1020px){
    #hamburguer{
        display: inline-block;
    }
     .buttonContainer{
        display: none;
    }
}