<header class="header" >
    <div class="logoContainer">
        <img class="logo" src="../../../../assets/img/logo.svg" alt="logo" draggable="false">
    </div>
    <div class="buttonContainer">
        <button class="headerButton">
            INÍCIO
        </button>
        <button class="headerButton">
            HORÁROS
        </button>
        <button class="headerButton">
            CAMPEONATOS
        </button>
        <button class="headerButton">
            RESULTADOS
        </button>
        <button class="headerButton">
            NOTÍCIAS
        </button>
    </div>
    <a href="#" id="hamburgueria">
        <img id="hamburguer" src="../../../../assets/img/bars.svg" alt="Menu hamburguer">
    </a>
</header>