<header class="header" >
    <div class="logoContainer">
        <img routerLink="/inicio" class="logo" src="../../../../assets/img/logo.svg" alt="logo" draggable="false">
    </div>
    <div class="buttonContainer">
        <button class="headerButton" routerLink="/inicio">
            INÍCIO
        </button>
        <button class="headerButton" routerLink="/campeonatos">
            CAMPEONATOS
        </button>
        <button class="headerButton" routerLink="/noticias">
            NOTÍCIAS
        </button>
        <button class="headerButton">
            PLACEHOLDER
        </button>
    </div>
    <a href="#" id="hamburgueria">
        <img id="hamburguer" src="../../../../assets/img/bars.svg" alt="Menu hamburguer">
    </a>
</header>